{% extends "layout.twig" %}

{% block content %}

	<div class="contenido">

		<div class="migas">

			<nav class="nav-migas" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/internaciones">Internaciones</a></li>
					<li class="breadcrumb-item active" aria-current="page">Editar</li>
				</ol>
			</nav>
		</div>


		{% set formAction = 'save' %}
		{% set submitValue = 'Siguiente' %}
		{% set statusButtonSelectPaciente = '' %}


		{% if isEdit %}

			{% set formAction = 'saveEdit' %}
			{% set submitValue = 'Modificar' %}
			{% set statusButtonSelectPaciente = 'disabled' %}

			{% set id_internacionValue = internacion.id %}
			{% set id_pacienteValue = internacion.idPaciente %}
			{% set nom_pacienteValue = internacion.nombre %}
			{% set fechaIngValue = internacion.fechaIngreso|date("Y-m-d\\TH:i:s") %}
			{% set fechaEgrValue = internacion.fechaEgreso|date("Y-m-d\\TH:i:s") %}

		{% endif %}

		{% if camposIngresados %}

			{% set id_internacionValue = camposIngresados.id_internacion %}
			{% set id_pacienteValue = camposIngresados.id_paciente %}
			{% set nom_pacienteValue = camposIngresados.nom_paciente %}
			{% set fechaIngValue = camposIngresados.fechaIng %}
			{% set fechaEgrValue = camposIngresados.fechaEgr %}

		{% endif %}


		{% if responseMessage %}

			<div class="alert alert-primary" role="alert">

				{{ responseMessage }}

			</div>

		{% endif %}

		<form action="{{ formAction }}" class="formSolo" method="post">

			<div class="form-group">

				<input type="hidden" name="id_internacion" id="id_internacion" class="form-control" value="{{ id_internacionValue }}">

				<input type="hidden" name="id_paciente" id="id_paciente" class="form-control" value="{{id_pacienteValue}}">

				<label for="paciente">Paciente
					<span>*</span>
				</label>

				<div class="input-group">

					<input type="text" name="nom_paciente" id="nom_paciente" class="form-control" value="{{nom_pacienteValue}}" readonly>

					<div class="input-group-append">

						<button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalAddPaciente" id="btnSeleccionar" {{statusButtonSelectPaciente}}>Seleccionar</button>

					</div>

				</div>

			</div>

			<div class="form-group">
				<label for="fechaIng">Fecha ingreso
					<span>*</span>
				</label>
				<input type="datetime-local" name="fechaIng" id="fechaIng" class="form-control" value="{{fechaIngValue}}">
			</div>

			<div class="form-group">
				<label for="fechaEgr">Fecha Egreso
					<span>*</span>
				</label>
				<input type="datetime-local" name="fechaEgr" id="fechaEgr" class="form-control" value="{{fechaEgrValue}}">
			</div>

			<input type="submit" value="{{ submitValue }}" class="btn btn-primary">

			<a href="/internaciones">
				<button type="button" class="btn btn-secondary">Cancelar</button>
			</a>

		</form>
	</div>

	<div class="modal fade" id="modalAddPaciente" tabindex="-1" role="dialog" aria-labelledby="modalAddPaciente" aria-hidden="true">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						Seleccionar paciente
					</h5>
					<button class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="contenedor-buscador">
					<input type="text" class="form-control buscador" id="buscador" placeholder="Nombre">
					<input type="text" class="form-control buscador" id="documento" placeholder="Documento">
				</div>

				<div class="modal-body">

					<table class="table table-sm tablaClasica" id="allPacientes">

						<thead>
							<tr>

								<th>Beneficio</th>
								<th>Nombre</th>
								<th>DNI</th>
								<th></th>

							</tr>
						</thead>

						<tbody>

							{% for paciente in pacientes %}

								<tr>

									<td>{{paciente.beneficio}}</td>
									<td>{{paciente.nombre}}</td>
									<td>{{paciente.dni}}</td>
									<td class="botoneraTabla">
										<button type="button" class="btn btn-primary btn-sm btn-paciente" value="{{paciente.idPaciente}}" name="{{paciente.nombre}}">Seleccionar</button>
									</td>

								</tr>

							{% endfor %}

						</tbody>

					</table>


				</div>
			</div>

		</div>

	{% endblock %}

	{% block javascript %}

		<script src="/js/internacion.js"></script>

	{% endblock %}
