<div class="crear_internacion">
    <h4>Agregar Internacion</h4>

    <form action="save" method="post">

        <div class="form-group">

        <input type="hidden" name="id_paciente" id="id_paciente" class="form-control">

        
            <label for="paciente">Paciente</label>
            <div class="input-group">

                <input type="text" name="nom_paciente" id="nom_paciente" class="form-control" required>

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalAddPaciente" id="btnSeleccionar">Seleccionar</button>
                </div>
            </div>

        </div>


        <div class="form-group">
            <label for="fechaIng">Fecha ingreso</label>
            <input type="datetime-local" name="fechaIng" id="fechaIng" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="fechaEgr">Fecha Egreso</label>
            <input type="datetime-local" name="fechaEgr" id="fechaEgr" class="form-control" required>
        </div>

        <input type="submit" value="Agregar" class="btn btn-primary">
        <a href="/fuerarango/"><button type="button" class="btn btn-secondary">Cancelar</button></a>
    </form>
</div>

<div class="modal fade-lg" id="modalAddPaciente" tabindex="-1" role="dialog" aria-labelledby="modalAddPaciente" aria-hidden="true">

    <div class="modal-dialog-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Seleccionar paciente
                </h5>
                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input type="text" class="form-control buscador" id="buscador" placeholder="Buscar afiliado">

            <div class="modal-body">

                <table class="table" id="allPacientes">

                    <thead>
                        <tr>
                            <th></th>
                            <th>Beneficio</th>
                            <th>Nombre</th>
                            <th>DNI</th>
                        
                        </tr>
                    </thead>

                    <tbody>

                   {% for paciente in pacientes %}

                        <tr>
                            <td><button type="button" class="btn btn-primary btn-paciente" value="{{paciente.idPaciente}}" name="{{paciente.nombre}}">Seleccionar</button></td>                            
                            <td>{{paciente.beneficio}}</td>
                            <td>{{paciente.nombre}}</td>
                            <td>{{paciente.dni}}</td>
              
                        </tr>

                    {% endfor %}

                    </tbody>

                </table>


            </div>
        </div>

    </div>