{% extends "layout.twig" %}

{% block content %}

<div class="contenido">

    <div class="migas">

            <nav class="nav-migas" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Internaciones</li>
                </ol>
            </nav>


        <div class="col botonera">
            <div>
                <button type="button" class="btn btn-outline-secondary btn-sm"><a href="pacientes">Pacientes</a></button>

                <button type="button" class="btn btn-outline-secondary btn-sm"><a href="practicas">Prácticas</a></button>
            </div>




        </div>
    </div>

    <div class="row comandos">

        <div class="col-1 botonera-agregar">
            <button type="button" class="btn btn-primary btn-sm"><a href="internaciones/nueva">Nueva</a></button>
        </div>

        <div class="col barra-buscador">
            <label for="">Buscar</label>
            <input type="text" class="form-control buscador" id="intFindBeneficio" placeholder="Beneficio">
            <input type="text" class="form-control buscador" id="intFindName" placeholder="Nombre">
            <input type="text" class="form-control buscador" id="intFindDocumento" placeholder="Documento">
        </div>


    </div>

    <div class="row">
        <div class="col">
  
            <table class="table table-hover table-sm tablaClasica" id="allInternaciones">

            <thead>
                    <tr>
                        <th>Beneficio</th>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Ingreso</th>
                        <th>Egreso</th>
                        <th></th>
                  
                    </tr>

                </thead>
                
                <tbody>

                 {% for internacion in internaciones %}

                    <tr>
                        <td>{{internacion.beneficio}}</td>
                        <td>{{internacion.nombre}}</td>
                        <td>{{internacion.dni}}</td>
                        <td>{{internacion.fechaIngreso|date("d/m/Y") }} <span class="badge badge-secondary">{{internacion.fechaIngreso|date("H:i") }}</span></td>
                        <td>{{internacion.fechaEgreso|date("d/m/Y")}} <span class="badge badge-secondary">{{internacion.fechaEgreso|date("H:i")}}</span></td>
                        <td class="botoneraTabla"><a href='internaciones/edit/{{internacion.id}}' class="btn btn-outline-secondary btn-sm" role="button"><i class="fas fa-ellipsis-h"></i></a>

                    </tr>

                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}

<script src="/js/internaciones.js"></script>

{% endblock %}



