{% extends "layout.twig" %}

{% block content %}

<div class="agregar_internacion">

    <div class="row ">

        <div class="col-6 botonera-agregar">
            <a href="internaciones/nueva">
                <i class="fas fa-plus-circle fa-2x"></i>
            </a>
        </div>

        <div class="col botonera">

            <a href="pacientes" class="btn btn-secondary">
                <i class="fas fa-user-injured fa-lg"></i>
            </a>

            <a href="practicas" class="btn btn-secondary">
                <i class="fas fa-clinic-medical fa-lg"></i>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col">
  
            <table class="table table-sm tablaClasica">

            <thead>
                    <tr>
                        <th>Beneficio</th>
                        <th>Nombre</th>
                        <th>Fecha/hora ingreso</th>
                        <th>Fecha/hora egreso</th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>

                 {% for internacion in internaciones %}

                    <tr>
                        <td>{{internacion.beneficio}}</td>
                        <td>{{internacion.nombre}}</td>
                        <td>{{internacion.fechaIngreso|date("d/m/Y (H:i)") }}</td>
                        <td>{{internacion.fechaEgreso|date("d/m/Y (H:i)")}}</td>
                        <td class="botoneraTabla">{{internacion.idInternacion}}<a href='internaciones/edit/{{internacion.id}}' class="btn btn-primary btn-sm" role="button"><i class="fas fa-pencil-alt"></i></a></td>
                        <td class="botoneraTabla"><a href='#' class="btn btn-danger btn-sm" role="button"><i class="fas fa-trash-alt"></i></a></td>

                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>

</div>

{% endblock %}



